        .quiz-container {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        
        .question {
            margin-bottom: 10px;
            font-weight: 600;
			font-size: 18px
        }
        
        .options {
            margin-bottom: 20px;
        }
        
        blockquote {
            max-width: 600px;
            margin: 10px;
            padding: 15px;
            border-left: 8px solid green;
            background-color: #f8fffe;
            font-weight: bold;
        }
        